body {
    background-color: #557799;
}

article {
    width: 75%;
    margin-left: 240px;
    position:absolute;
    top: 0px
}

section {
    background-color: #ffcc44;
}

p {
    padding:5px;
}

li {
    padding:5px
}

h1, h2, h3 {
    background-color: #ffff00;
    color: black;
    padding:5px;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3388aa;
}

.block {
    display: block;    
    padding: 8px 16px;
}

.block:hover {
    background-color: #cccc44;
}

.b {
    text-decoration: none;
    color: black;
}

.nav {
    border:none;
    margin-top:4px;
    width:208px;
    height:400px;
}